<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Insert title here</title>
			<th:block th:fragment="setContent(content)">
				<style type="text/css">
					.header {
						height: 20vh;
						background-color : pink;
					}
					.content {
						height : 30vh;
						background-color : lightgray;
					}
					.footer {
						height : 10vh;
						background-color : green;
					}
					
					
				</style>
	</head>
	<body>
	
			<div class = "header">
				<h1>HEADER</h1>
			</div>
		
			<div class = "content">
				<!-- 파라미터로 전달된 content 출력 -->
				<th:block th:replace="${content}"> </th:block>
			</div>
			
			<div class = "footer">
				<h1>FOOTER</h1>
			</div>
	</body>

			</th:block>
</html>

